html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Helvetica Narrow, sans-serif;
}
nav {
    background-color: black;
    color: white;
}
nav ul {
    list-style-type:none;
    display: flex;
    justify-content: flex-end;
    color: #fff;
}
nav ul li {
    padding: 1rem;
    cursor: pointer;
}
nav ul li:hover {
    color: rgb(235, 51, 180);
    background: rgb(80, 79, 79);
}
nav ul .selected {
    background: #fff;
    color: rgb(235, 51, 180);
}
nav ul .selected:hover {
    background: #fff;
    color: #000;
}
h1 {
    font-size: 40px;
    color: rgb(235, 51, 180);
    margin: 10px;
    font-style: italic;
}
#content {
    text-align: center;
}
img {
    margin: 10px;
}
